extends loggedlayout

block content
	div(class="content")
	div(class="content2")
		h1 What is Learn2Gather?
		hr
		| With this application, students will be able to join, create, or view study groups for various courses around their campus. Details such as location, time, and course topic are determined by the organizers of the study group. <br><br> This application aims to be available for all common devices with a website browser (such as personal computers, smartphones, and tablets). The scope of this project is currently for students within the Universities of Waterloo and RWTH Aachen.
		br
		h1 How do I use this?
		hr
		ul(style="text-align: left")
			li
				b Step One: 
				| First, you must create an account so you can join or create study groups. (You don't need an account to see what's available, though!) 
				| You can create an account by clicking "sign up" up top. We will ask for some information about you, but the information 
				| will only be used in this website and is purely for recognizing who is whom. Be careful - once you choose a username, you cannot
				| change it!
			li
				b Step Two: 
				| You will be sent to the 'login' page. Use the credentials you just entered to log in to the application.
			li
				b Step Three: 
				| You are now logged into Learn2Gather! You can view available study groups by clicking "Vew Groups" at the top, or make your own by clicking 
				| "Make a Group" above.
			li
				b Step Four: 
				| Once you are logged in, you can see what groups you are part of, and make changes to the ones you created. To change your settings for your
				| account, you can click "Settings" in the navigation bar and from there you will be shown what you can change.