extends layout

block content
	div(class="content")
	div(class="content2")
		h1 Welcome to Learn2Gather!
		hr
		| Learn2Gather is a tool created to help students find and join study groups around campus. You can even start your own!
		br
		br
		| Create and find groups that suit your schedule and needs for your education. You can specify aspects such as time, date, subject, location, and group limit.
		br
		br
		a.btn.btn-primary.btn-lg(href='/about', role='button') Learn More
		a.btn.btn-primary.btn-lg(href='/signup', role='button') Sign up today!