{{define "about"}}
 <!DOCTYPE html>
<html lang="en-UK">
<head>
<meta charset="UTF-8">
<link href="/staticFiles/style.css" rel="stylesheet">
<title>Learn2Gather About</title>
</head>

<body>
<img class="logo" src="logo.png"></img><div class="navbar">
<ul class="navbar">		
<li><a href="/contact">Contact Us</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/makeagroup">Make a Group</a></li>
<li><a href="/view">View Groups</a></li>
<li><a href="/about">About</a></li>	
<li><a href="/index">Home</a></li></ul></div>


<div class="content"></div>
<div class="content2">
Welcome to Learn2Gather, the best application for helping you find study groups on campus! With this application, students will be able to join, create, or view study groups for various courses around their campus. Details such as location, time, and course topic are determined by the organizers of the study group. <br><br> This application aims to be available for all common devices with a website browser (such as personal computers, smartphones, and tablets). The scope of this project is currently for students within the Universities of Waterloo and RWTH Aachen, but a possible iteration will be specifically for autistic communities in Ontario, Canada.</p>
</div>

<div class="footer">© Copyright 2015</footer>
</body>

</html> 
{{end}}