{{define "signup"}}
<!DOCTYPE html>
 <html lang="en-UK">
<head>
<meta charset="UTF-8">
<link href="/staticFiles/style.css" rel="stylesheet">
<title>Learn2Gather Logging In</title>
</head>
 <body>
<img class="logo" src="logo.png"></img><div class="navbar">
<ul class="navbar">		
<li><a href="/contact">Contact Us</a></li>
<li><a href="/login">Log In</a></li>
<li><a href="/makeagroup">Make a Group</a></li>
<li><a href="/view">View Groups</a></li>
<li><a href="/about">About</a></li>	
<li><a href="/index">Home</a></li></ul></div>

<div class="content"></div>
<div class="content2">
<form action="/create" method="POST">
Thank you for signing up for Learn2Gather! Please enter some of your information so we can set you up with a profile.<br><br>
(Note: The only thing others will see is your username. Your information is confidential and will NOT be shared with anyone!) <br><br>
<p>Username: <input type=text name=Username required><br>
Password: <input type=text name=Password required><br>
First Name: <input type=text name=FirstName required>
Last Name: <input type=text name=LastName required>
Email Address: <input type=email name=Email required></p>

<button type=submit>Create an Account</button>
</form></div>

<div class="footer">© Copyright 2015</footer>
</body>

</html> 
{{end}}