{{define "Submitted"}} 
 <!DOCTYPE html>
<html lang="en-UK">
<head>
<meta charset="UTF-8">
<link href="/staticFiles/style.css" rel="stylesheet">
<title>Learn2Gather About</title>
</head>

<body>
<img class="logo" src="/staticFiles/logo.png"></img><div class="navbar">
<a href="/">Homepage</a>			
<a href="/view">View Groups</a>
<a href="/makeagroup">Make a Group</a>
<!-- Can only keep 3 Links Total (which should be all we need anyways) -->

</div>
<div class="content">
<p class="content">
<b class="title">Thank you!</b><br><br>
Your addition has been submitted to the database! You will see it up after it has been processed. Click below to go back to see the current study groups.
<br><br><br>
<a href="/view">Go back to the database!</a></p>
</div>

<div class="footer">© Copyright 2015</footer>
</body>

</html> 
{{end}}